@using WeatherScope.Models
@model Weather

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherScope - Weather Information</title>
</head>
<body>
    <button onclick="getLocation()">Get Weather Information</button>
    <h1>Weather Information for @Model?.CityName</h1>
    <p>Latitude: @Model?.Coordinates.Latitude</p>
    <p>Longitude: @Model?.Coordinates.Longitude</p>
    <p>Temperature: @Model?.Main.Temperature °C</p>
    <p>Feels Like: @Model?.Main.FeelsLike °C</p>
    <p>Minimum Temperature: @Model?.Main.TempMin °C</p>
    <p>Maximum Temperature: @Model?.Main.TempMax °C</p>
    <p>Humidity: @Model?.Main.Humidity %</p>
    <p>Pressure: @Model?.Main.Pressure hPa</p>
    <p>Wind Speed: @Model?.Wind.Speed m/s</p>
    <p>Wind Direction: @Model?.Wind.Direction °</p>
    <p>Weather Description: @Model?.WeatherDetails.FirstOrDefault().Description</p>
</body>
</html>